*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #EC4899;
    --second-color:#F472B6;
    --brown-color:#7C3E1D;
}
/* global style */
.main_card{
    background-color:#FAC5F3;
 }
  .main_card_image{
    height: fit-content;
  }
 .main_card_image img{
    height: 300px;
  }

  .btn-pink{
    background-color:#E920CE;
}
.btn-pink:hover{
    /*  */
    background-color: #BE185D;
}
.text-pink{
    color:#E920CE;
}
/* .main-bg-color{
    background-color: var(--main-color);
} */
/* navbar */
/* .navbar-brand{  
    width: 100px;
    height: fit-content;
} */
 /* .navbar{
    position: relative;
 } */
 /* .navbar::before{
    content: url(../images/3.jpg);
    position: absolute;
    display: block;
    left: 30%;
    top: 50px;
    width: 100%;
    height: 50px;
 } */
  .layer{
    /* z-index: 999 !important; */
    position:absolute;
    /* background-image: url(../images/3.jpg); */
    height: fit-content;
 right: 0;
 left: 0;
transform: translateY(-300%);  }
  /* .layer img{
    w
  } */
  .layer img{
    height: fit-content;
    mix-blend-mode: multiply;
  }
.navbar-brand img{
    /* width: 100%; */
        height: 60px;
}

/* home section */
/* header{
        background-image: url(../images/3.avif);
    background-position: bottom 100%;
    background-size: cover;
    background-repeat: no-repeat;
} */
.home h1{
    color: var(--brown-color);
}
/* .home_end_image {
    height: 150px;
}
.home_end_image img{
    height: 100%;
} */
 .home{
    /* position: relative; */
    background-image: url(../images/1.PNG);
    background-position: -20% top;
    background-repeat: no-repeat;
    background-size: contain;
 }
 .home .row{
  padding-top: 90px;
 }
 /* .home::after{
    content: "";
    background-image: url(../images/1.PNG);
    background-repeat:  no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    display: block;
    height: 50%;
    right: 0;
    left: 0;
    margin-bottom: 30px;
 } */



 /* flavour section */
 .flavour h2{
    color: var(--brown-color);
 }

 /* .flavour  .card img{
    height: fit-content;
 } */
  /* about section */
  /* .about_us h2{
    position: relative;
  }
  .about_us h2::after{

content: url(../images/3.jpg);

    position: absolute;
    display: block;
    content: url(../images/2.jpg);
    
    left: 30%;
    top: 50px;
    width: 40%;
    height: fit-content;
  }
  .about_us p{
    z-index: 999;
  } */

  /* popular menu */

  .carousel-item img{
    height: 100px;
  }